iframe {
  width: 1px;
  height: 1px;
  z-index: -1;
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.song-data {
  width: 100px;
  height: 5px;
  position: fixed;
  animation: songNameMove 10s infinite;
  animation-play-state: running;
  white-space: nowrap;
}
.song-dataContainer {
  width: 250px;
  position: relative;
  bottom: 38vh;
  right: 26.8vw;
  /* height: 5px; */
  clip-path: circle(105%);
}

@keyframes songNameMove {
  from {
    left: 0px;
  }
  to {
    left: 600px;
  }
}

.prevSong {
  background-color: #3108f9;
  border: none;
  border-radius: 6px;
  position: fixed;
  bottom: 52.4vh;
  left: 13.2vw;
  width: 2.8vw;
  height: 3.6vh;
  /* opacity: 0.6; */
}
.prevSong:hover {
  opacity: 0.3;
}

.prevSongIcon {
  width: 1.2vw;
  align-items: center;
}

.nextSong {
  background-color: #3108f9;
  border: none;
  border-radius: 6px;
  position: fixed;
  bottom: 52.4vh;
  left: 19.15vw;
  width: 2.8vw;
  height: 3.6vh;
}
.nextSong:hover {
  opacity: 0.3;
}

.nextSongIcon {
  width: 1.2vw;
  align-items: center;
  transform: rotateY(180deg);
}

.play {
  background-color: #3108f9;
  border: none;
  border-radius: 6px;
  position: fixed;
  bottom: 52.55vh;
  left: 16.28vw;
  width: 2.62vw;
  height: 3.42vh;
}
.play:hover {
  opacity: 0.3;
}

.playIcon {
  width: 1.2vw;
  align-items: center;
  transform: rotateY(180deg);
}
