.App {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-size: 230vw;
  background-position-x: 85%;
  background-position-y: -20%;
}
.musicPlayer {
  width: 145vw;
  position: absolute;
  bottom: -52%;
  left: -22%;
}

.cloud-wrapper {
  display: flex;
  justify-content: center;
}

.cloud {
  height: 3.5em;
  fill: white;
  position: absolute;
}
.cloud[data-running=false] {
  display: none;
}
.cloud[data-running=true] {
  display: block;
  animation: linear forwards;
  animation-name: run;
  animation-duration: 7s;
  /* TO ADD */
  /* -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 10s; */
}
@keyframes run {
  0% {
    opacity: 0;
    top: 50%;
  }
  10% {
    opacity: 100%;
  } 
  100% {
    opacity: 0;
    top: 0%;
  }
}
/* @-webkit-keyframes run {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
} */

@media (min-height: 812px) {
  .App {
    background-position-x: 85%;
    background-position-y: 67%;
  }
  .musicPlayer {
    bottom: -42.6%;
    left: -22%;
  }
}

@media (min-width: 768px) {
  .App {
    background-position-x: 94%;
    background-position-y: 290%;
    background-size: 200vw;
  }
  .musicPlayer {
    bottom: -69.5%;
    left: -22%;
  }
  .cloud {
    height: 6.5em;
  }
}

@media (min-width: 1024px) {
  .App {
    background-position-x: 50%;
    background-position-y: 0%;
    background-size: 120vw;
  }
  .musicPlayer {
    visibility: hidden;
  }
  .cloud-wrapper {
    width: 50%;
    margin-left: 50%;
  }
}
@media (min-width: 1440px) {
  .App {
    background-position-x: 50%;
    background-position-y: 100%;
    background-size: cover;
  }
  .musicPlayer {
    visibility: hidden;
  }
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3108f9;
}
