.App {
  text-align: center;
}

.cloud {
  height: 4em;
  /* left: 20%; */
  fill: white;
  position: absolute;
}
.cloud[data-running=false] {
  display: none;
}
.cloud[data-running=true] {
  display: block;
  animation: linear forwards;
  animation-name: run;
  animation-duration: 8s;
  /* TO ADD */
  /* -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 10s; */
}
@keyframes run {
  0% {
    top: 50%;
  }
  /* 70% {
    opacity: 0;
  } */
  100% {
    opacity: 0;
    top: 0%;
  }
}
/* @-webkit-keyframes run {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
} */

.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#3108F9;
}
